<div class="container-fluid">
  <div class="search-container">

    <div class="form-gorup" [formGroup]='formGroup'>
      <label>Pesquisa</label>
      <div>
        <input type="text" class="form-control" formControlName="searchControl">
        <button class="btn btn-dark" [disabled]="!f?.searchControl?.valid" (click)="doSearch()">Pesquisar</button>
      </div>
    </div>

    <div class="form-gorup">
      <label>Pesquisar com <i>autocomplete</i></label>
    </div>

  </div>

  <jv-loader *ngIf="loading$ | async"></jv-loader>

  <div *ngIf="!(loading$ | async) && !(error$|async) && !!cityWeather">
    <app-current-weather [cityWeather]="cityWeather" (toggleBookmark)="onToggleBookmark()"></app-current-weather>
  </div>

  <div *ngIf="!(loading$|async) && (error$|async)">
    <b>Tentar novamente</b>
  </div>
</div>
